In [92]:
%load_ext autoreload
%autoreload 2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import datetime as dt
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [97]:
df = pd.DataFrame({
    'date': [dt.datetime(2018, 1, 1), dt.datetime(2018, 1, 2), dt.datetime(2018, 1, 3), dt.datetime(2018, 1, 4), dt.datetime(2018, 1, 5), dt.datetime(2018, 1, 6)],
    'id': [1, 2, 1, 2, 1, 2],
})


def split_by_time_window(df, start, id_col, date_col, obs_size, target_size):
    df = df[df[date_col] > start].reset_index(drop=True)
    delta = df.groupby(id_col)[date_col].apply(lambda s: (s - s.shift(1)).fillna(0).cumsum())
    age = delta.dt.days
    tr_idx = age <= obs_size
    ts_idx = (age > obs_size) & (age <= obs_size+target_size)
    return df[tr_idx], df[ts_idx]

x, y = split_by_time_window(df, dt.datetime(2017, 12, 31), 'id', 'date', obs_size=2, target_size=2)
x.head()
y.head()

        date  id
0 2018-01-01   1
1 2018-01-02   2
2 2018-01-03   1
3 2018-01-04   2

        date  id
4 2018-01-05   1
5 2018-01-06   2